# This service is enabled by coreos-diskful-generator

[Unit]
Description=CoreOS Secex Ignition Config Preparation
ConditionPathExists=/etc/initrd-release
ConditionPathExists=/run/coreos/secure-execution
DefaultDependencies=false

OnFailure=emergency.target
OnFailureJobMode=isolate

# Run after the crypt device becomes available and before Ignition
Requires=dev-disk-by\x2did-virtio\x2dignition_crypted.device
After=dev-disk-by\x2did-virtio\x2dignition_crypted.device
Before=ignition-fetch-offline.service

[Service]
Type=oneshot
# Set to slave so rw remounting of /usr won't be for other units
MountFlags=slave
RemainAfterExit=yes
ExecStart=/usr/sbin/coreos-secex-ignition-prepare
