[Unit]
Description=CoreOS Keep CGroups v1
Documentation=https://github.com/coreos/fedora-coreos-tracker/issues/292
RequiresMountsFor=/boot
# Note we don't conditionalize on ConditionKernelCommandLine= here because the
# kernel arg might've been added manually just for this boot; we still want to
# change the BLS entries in that case.

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/libexec/coreos-keep-cgroup-v1

[Install]
WantedBy=multi-user.target
