[Unit]
Description=CoreOS Propagate Multipath Configuration
Before=initrd.target

# we write to the rootfs, so run after it's ready
After=initrd-root-fs.target

ConditionKernelCommandLine=rd.multipath=default

OnFailure=emergency.target
OnFailureJobMode=isolate

[Service]
Type=oneshot
ExecStart=/usr/sbin/coreos-propagate-multipath-conf
RemainAfterExit=yes
