[Unit]
Description=CoreOS Wait For Multipathed Boot
DefaultDependencies=false
After=dracut-cmdline.service
Requires=dev-disk-by\x2dlabel-dm\x2dmpath\x2dboot.device
After=dev-disk-by\x2dlabel-dm\x2dmpath\x2dboot.device
Requires=multipathd.service
After=multipathd.service

OnFailure=emergency.target
OnFailureJobMode=isolate

# This is one of the earliest services that accesses the bootfs so make sure we
# already have our multipath target.
Before=coreos-ignition-setup-user.service

Before=cryptsetup-pre.target
