[Unit]
Description=Import systemd credentials from virtiofs
Documentation=https://systemd.io/CREDENTIALS/
Documentation=https://github.com/systemd/systemd/issues/29175

# Only run inside a VM — virtiofs is a VM-only transport.
ConditionVirtualization=vm

# Only run if the virtiofs sysfs directory exists, meaning the
# virtiofs kernel module is loaded and at least one device is present.
ConditionDirectoryNotEmpty=/sys/fs/virtiofs

# Only run if we're not in a confidential compute setting as this is
# another vector for configuring the machine and it's not currently
# measured.
ConditionSecurity=!cvm
ConditionSecurity=!measured-uki
ConditionSecurity=!measured-os

# Only run on Ignition first boot for now as we don't need it for
# anything other than that.
ConditionKernelCommandLine=ignition.firstboot

# Run in the initramfs so that systemd credentials are in
# /run/credentials/@initrd/ before the initramfs-to-real-root transition.
# Since /run persists across that transition, the systemd credentials
# will be available to generators and services in the real root (e.g.
# systemd-debug-generator for systemd.extra-unit.* and
# systemd.unit-dropin.*, systemd-tmpfiles-setup for tmpfiles.extra,
# systemd-sysusers for passwd.hashed-password.*, etc.)
#
# This must run after the virtio devices are discovered and the
# virtiofs kernel module is loaded.
DefaultDependencies=no
After=systemd-modules-load.service
After=systemd-udev-settle.service
Before=initrd-switch-root.target

[Service]
Type=oneshot
RemainAfterExit=no
ExecStart=/usr/libexec/import-virtiofs-systemd-credentials.sh

[Install]
WantedBy=initrd.target
