[Unit]
Description=Remove search . from /etc/resolv.conf
DefaultDependencies=no
Requires=systemd-resolved.service
After=systemd-resolved.service network-online.target
Before=crio.service
BindsTo=systemd-resolved.service

[Service]
Type=oneshot
ExecStart=/usr/bin/sed -i -e "s/^search .$//" /run/systemd/resolve/resolv.conf

[Install]
WantedBy=multi-user.target
