[Unit]
Description=CoreOS Root Setup
Documentation=man:bootc(1)
DefaultDependencies=no
ConditionKernelCommandLine=|composefs
ConditionKernelCommandLine=|ostree
ConditionPathExists=/etc/initrd-release
After=sysroot.mount
Requires=sysroot.mount
Before=initrd-root-fs.target

OnFailure=emergency.target
OnFailureJobMode=isolate

[Service]
Type=oneshot
ExecStart=/usr/libexec/coreos-root-setup
StandardInput=null
StandardOutput=journal
StandardError=journal+console
RemainAfterExit=yes
