# See https://github.com/coreos/ignition/issues/600
# which originated from https://github.com/coreos/coreos-metadata/pull/90#discussion_r202438581

[Unit]
ConditionFirstBoot=true
Before=sshd.service

[Service]
Type=oneshot
ExecStart=/usr/bin/sh -c 'if ! getent passwd core &>/dev/null; then /usr/sbin/useradd -G wheel,sudo,adm,systemd-journal core; fi'
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
