# CoreOS-specific symlink for boot disk

ACTION!="add|change", GOTO="stable_boot_end"
SUBSYSTEM!="block", GOTO="stable_boot_end"

ENV{DEVTYPE}=="disk" \
  , PROGRAM=="coreos-disk-contains-fs $name boot" \
  , SYMLINK+="disk/by-id/coreos-boot-disk"

LABEL="stable_boot_end"
