[Unit]
Description=Acquire Live PXE rootfs Image
DefaultDependencies=false
ConditionPathExists=/usr/lib/initrd-release
ConditionPathExists=/run/ostree-live
ConditionKernelCommandLine=!coreos.liveiso

After=basic.target
# Network is enabled here
After=nm-run.service
# compat: remove when everyone is on dracut 053+
After=dracut-initqueue.service

# If we fail, the boot will fail.  Be explicit about it.
OnFailure=emergency.target
OnFailureJobMode=isolate

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/sbin/coreos-livepxe-rootfs
