[Unit]
Description=Persist osmet files
DefaultDependencies=false
ConditionPathExists=/run/ostree-live
# Downloads and unpacks the osmet files if not already appended
After=coreos-livepxe-rootfs.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/mkdir -p /run/coreos-installer/osmet
ExecStart=/usr/bin/sh -c "if ls /*.osmet &>/dev/null; then cp /*.osmet /run/coreos-installer/osmet; fi"
