# Configure NetworkManager-wait-online in the real root for the
# Live ISO to timeout quicker and also not explicitly fail since
# booting the Live ISO without network is a valid use case.
#
# Doing this improves the user experience when booting the
# Live ISO without network.

[Unit]
Description=Reconfigure NetworkManager-wait-online service
DefaultDependencies=no
# Make sure we are in the initramfs and we are booted to the live ISO
ConditionPathExists=/usr/lib/initrd-release
ConditionKernelCommandLine=coreos.liveiso
ConditionPathExists=/run/ostree-live

[Service]
Type=oneshot
RemainAfterExit=yes
# Note keep this in sync with NetworkManager-wait-online.service
# Right now we are keeping the same ExecStart but we are making it
# OK to fail (`-`) and timeout sooner (5 seconds vs 30).
ExecStartPre=/usr/bin/mkdir -p /run/systemd/system/NetworkManager-wait-online.service.d
ExecStart=/bin/bash -c 'echo -e "[Service]\nExecStart=\nExecStart=-/usr/bin/nm-online -s -q --timeout=5" > /run/systemd/system/NetworkManager-wait-online.service.d/liveiso.conf'
