# This unit will run very early before the dracut-cmdline
# service and detect if we want to request dracut bring up
# networking or not. We do want to request networking if:
#
# - the user is booting the live ISO
# - the user didn't already request networking via rd.neednet
# - the user provided a ignition.config.url karg, implying
#   the need for networking
#
# As of recently we skip networking if a config is injected via
# `coreos-installer iso embed` in order to allow automating
# installs on networks without DHCP.
#
# If we do determine we need network and there are no other
# `ip=` kargs then we'll use `ip=dhcp,dhcp6` by default.
#
# The requesting of network will be done by writing relevant
# dracut networking args into /etc/cmdline.d/coreos-live-network-kargs.conf
# so that it gets picked up by the dracut networking scripts later
# on in boot.
#
# This is all done because we want to support a mode where
# the user can boot the live ISO and get to an interactive
# prompt without requiring networking on boot. The user can
# then configure the networking interactively.
#
# Note that this script is only used on RHCOS now. We should be able to remove
# it once RHCOS moves to spec3. On FCOS/spec3, this is replaced by the
# conditional networking work:
# https://github.com/coreos/fedora-coreos-config/pull/426
[Unit]
Description=Request live ISO networking
DefaultDependencies=no
Before=dracut-cmdline.service

# Make sure we are in the initramfs. We are booted to the live
# ISO and rd.neednet wasn't already passed somewhere else
ConditionPathExists=/usr/lib/initrd-release
ConditionKernelCommandLine=!rd.neednet
ConditionKernelCommandLine=coreos.liveiso
ConditionPathExists=/run/ostree-live

# We'll assume we need network in the following case (see description from above)
ConditionKernelCommandLine=|ignition.config.url

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/sbin/coreos-liveiso-network-kargs
