[Unit]
Description=Initialize tmpfs for user data
DefaultDependencies=false
RequiresMountsFor=/writable
Before=sysroot-etc.mount sysroot-var.mount

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/mkdir -m 755 -p /writable/etc/upper /writable/var /run/systemd/relabel-extra.d
ExecStart=/usr/bin/mkdir -m 700 -p /writable/etc/work
ExecStart=/bin/bash -c 'echo -e "/etc\n/var" > /run/systemd/relabel-extra.d/coreos-writable.relabel'
