[Unit]
DefaultDependencies=false
Requires=coreos-populate-writable.service
Before=coreos-populate-writable.service

[Mount]
What=tmpfs
Where=/writable
Type=tmpfs
Options=mode=0700
