[Unit]
Description=CoreOS Root Bash
DefaultDependencies=false
Before=ignition-complete.target

# We need all the filesystems already mounted and /var/roothome created.
Requires=coreos-populate-var.service
After=coreos-populate-var.service

# Run before ignition-files.service so configs can further modify.
Before=ignition-files.service

[Service]
Type=oneshot
ExecStart=/usr/bin/sh -c "cp /sysroot/etc/skel/.bash* /sysroot/root"
