# Temporary hack to work around agetty SELinux denials.
# https://github.com/coreos/fedora-coreos-config/pull/859#issuecomment-783713383
# https://bugzilla.redhat.com/show_bug.cgi?id=1932053
[Unit]
Description=CoreOS: Touch /run/agetty.reload
Documentation=https://bugzilla.redhat.com/show_bug.cgi?id=1932053
DefaultDependencies=false
Before=initrd.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/touch /run/agetty.reload
