# This service is used for printing a message if no ssh keys were added 
# by ignition/afterburn
[Unit]
Description=Check that ssh-keys are added by aferburn/ignition
Before=console-login-helper-messages-issuegen.service
# https://github.com/coreos/afterburn/issues/417 is created
# to track the issue that would allow other units to synchronize 
# around any instance of `afterburn-sshkeys@` and not just the 
# `core` user.
After=afterburn-sshkeys@core.service
# Only perform checks on the first (Ignition) boot as they are
# mostly useful only on that boot. This ensures systems started
# before Ignition/Afterburn started logging structured data don't
# get misleading messages. Also handles the case where the journal
# gets rotated and no longer has the structured log messages.
ConditionKernelCommandLine=ignition.firstboot
ProtectHome=read-only
[Service]
Type=oneshot
ExecStart=/usr/libexec/coreos-check-ssh-keys.sh
RemainAfterExit=yes
[Install]
WantedBy=multi-user.target
