# This service is used for printing a message if no ssh keys were added
# by Ignition/Afterburn
[Unit]
Description=Check That SSH Keys Are Added by Afterburn/Ignition
# It allows other units to synchronize around any instance
# of `afterburn-sshkeys@` and not just the `core` user.
# See https://github.com/coreos/afterburn/pull/481
After=afterburn-sshkeys.target
# Only perform checks on the first (Ignition) boot as they are
# mostly useful only on that boot. This ensures systems started
# before Ignition/Afterburn started logging structured data don't
# get misleading messages. Also handles the case where the journal
# gets rotated and no longer has the structured log messages.
ConditionKernelCommandLine=ignition.firstboot
# Run before user sessions to avoid reloading agetty
Before=systemd-user-sessions.service

[Service]
Type=oneshot
ProtectHome=read-only
ExecStart=/usr/libexec/coreos-check-ssh-keys
RemainAfterExit=yes
[Install]
WantedBy=multi-user.target
