# This service is used for printing a message if 
# no Ignition config is provided.
[Unit]
Description=Check if Ignition config is provided
After=coreos-ignition-firstboot-complete.service
Before=systemd-user-sessions.service
RequiresMountsFor=/var/lib/coreos
ConditionPathExists=|/var/lib/coreos/ignition.info.json
# See coreos-ignition-firstboot-complete
ConditionPathExists=|/run/ignition.info.json

[Service]
Type=oneshot
ExecStart=/usr/libexec/coreos-check-ignition-config
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
