[Unit]
Description=EFI System Partition
Documentation=https://github.com/coreos/fedora-coreos-config
ConditionPathExists=/boot/efi

[Mount]
What=/dev/disk/by-label/EFI-SYSTEM
Where=/boot/efi

[Install]
RequiredBy=local-fs.target
