[Unit]
Description=EFI System Partition
Documentation=https://github.com/coreos/fedora-coreos-config
ConditionPathExists=/sys/firmware/efi/

[Mount]
What=/dev/disk/by-label/EFI-SYSTEM
Where=/boot/efi

[Install]
WantedBy=local-fs.target
