# This is used by our test framework in coreos-assembler
# since for the "live ISO without Ignition" case we
# don't have an easy way to test it.
[Unit]
Description=CoreOS Live ISO virtio success
Documentation=https://github.com/coreos/fedora-coreos-config
# Only run on the Live ISO, and only if there's no Ignition config
ConditionKernelCommandLine=coreos.liveiso
ConditionPathExists=!/config.ign
ConditionVirtualization=|kvm
ConditionVirtualization=|qemu
# Start running late to help ensure that the below conditional works
After=systemd-user-sessions.service
ConditionPathExists=/dev/virtio-ports/coreos.liveiso-success

[Service]
Type=simple
# Wait for a user session to start, then write a static message to the
# virtio channel, which https://github.com/coreos/coreos-assembler/pull/1330
# knows how to read.  We previously did "journalctl -f ... | head -1" here,
# but RHEL 8 has systemd 239, which has
# https://github.com/systemd/systemd/issues/9374.
ExecStart=/bin/sh -c 'while [ -z "$(loginctl list-sessions --no-legend)" ]; do sleep 1; done; echo coreos-liveiso-success > /dev/virtio-ports/coreos.liveiso-success'

[Install]
WantedBy=multi-user.target
