# This service is used for printing a message if 
# no Ignition config is provided.
[Unit]
Description=Check if Ignition config is provided
Before=systemd-user-sessions.service
ConditionPathExists=/etc/.ignition-result.json

[Service]
Type=oneshot
ExecStart=/usr/libexec/coreos-check-ignition-config
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
