[Unit]
Description=CoreOS Inject Rootmap
# If root is specified, assume rootmap is already configured
ConditionKernelCommandLine=!root
OnFailure=emergency.target
OnFailureJobMode=isolate

After=ignition-files.service

[Service]
Type=oneshot
ExecStart=/usr/bin/rdcore rootmap /sysroot --boot-device /dev/disk/by-label/boot
RemainAfterExit=yes
MountFlags=slave
