[Unit]
Description=Ignition OSTree: Grow Root Filesystem
DefaultDependencies=false
ConditionKernelCommandLine=ostree
ConditionPathExists=!/run/ostree-live
Before=initrd-root-fs.target
Before=sysroot.mount ignition-ostree-mount-firstboot-sysroot.service
After=ignition-ostree-uuid-root.service

[Service]
Type=oneshot
ExecStart=/usr/sbin/ignition-ostree-growfs
RemainAfterExit=yes
# So we can transiently mount sysroot
MountFlags=slave