[Unit]
Description=Ignition OSTree: Grow Root Filesystem
DefaultDependencies=false
ConditionKernelCommandLine=ostree
# Allow disabling automatic growth of the root partition via the
# coreos.disable_growfs karg; e.g. for testing purposes.
ConditionKernelCommandLine=!coreos.disable_growfs
ConditionPathExists=!/run/ostree-live
Before=initrd-root-fs.target
Before=sysroot.mount
After=ignition-ostree-uuid-root.service

[Service]
Type=oneshot
ExecStart=/usr/sbin/ignition-ostree-growfs
RemainAfterExit=yes
# So we can transiently mount sysroot
MountFlags=slave
