# This is to be removed once we switch to 'keyring' and custom 'init'.
[Unit]
Description=Ignition OSTree: Delete Secure Execution LUKS Keys
ConditionArchitecture=s390x
ConditionKernelCommandLine=ostree
ConditionPathExists=/run/coreos/secure-execution
DefaultDependencies=no

# We should drop the keys once cryptsetup had opened both rootfs and bootfs
After=dev-disk-by\x2dlabel-boot.device
After=dev-disk-by\x2dlabel-root.device

# Run as early as possible
Before=cryptsetup.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/rm /etc/luks/boot /etc/luks/root /etc/crypttab
