# This service checks if the system nodes are still using
# CNI networking. If so, they will be warned to move
# their nodes to netavark respectively.
[Unit]
Description=Check If Podman Is Still Using CNI Networking
[Service]
Type=oneshot
ExecStart=/usr/libexec/coreos-cni-networking-check
RemainAfterExit=yes
[Install]
WantedBy=multi-user.target
